<%- include("template/head", {tituloWeb: 'Inicio'}) %>
<%- include("template/navbar") %>
<div class="container">
    <H1>Index EJS</H1>
    <h2><%= titulo %></h2>
</div>
<%- include("template/footer") %>